* {
    color: #072A24;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-top: 25px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.5px;
}

html  {
  background-color: #ffffff;
  margin: 10px;
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ffffff;
  margin: 10px;
  margin-bottom: 60px;
}

/* Header */
header {
    /* grid-column: 1 / -1; */
    display: flex;
    height: 50px;
    width: 960px;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}
header div:not(:first-child) {
    margin-left: 25px;
}

/* Body */
main {
    grid-column: 1 / -1;
}

/* Footer */
footer {
    /* grid-column: 1 / -1; */
    display: flex;
    background-color: #072A24;
    position: fixed;
    left: -10px;
    position: absolute;
    bottom: 0;
    width: 140%;
    height: 65px;
    align-items: center;
    margin-bottom: -100px;
}

#social {
    margin-right: 485px;
}

footer a {
    color: #9BCFB8;
    justify-content: center;
    display: inline;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
}

footer p {
    color: #9BCFB8;
    justify-content: center;
    display: inline;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
}

footer div {
    margin-left: 25px;
    color: #9BCFB8;
}

@-webkit-keyframes seedling {
    0%   { 
        opacity: 0;
        /* transform: rotate(20deg);  */
    }
        
    100% { 
        opacity: 1;
        transform: rotate(360deg); 
    }
  }
  @-moz-keyframes seedling {
    0%   { 
        opacity: 0;
        /* transform: rotate(20deg);  */
    }
        
    100% { 
        opacity: 1;
        transform: rotate(360deg); 
    }
  }
  @-o-keyframes seedling {
    0%   { 
        opacity: 0;
        /* transform: rotate(20deg);  */
    }
        
    100% { 
        opacity: 1;
        transform: rotate(360deg); 
    }
  }
  @keyframes seedling {
    0%   { 
        opacity: 0;
        /* transform: rotate(20deg);  */
    }
        
    100% { 
        opacity: 1;
        transform: rotate(360deg); 
    }
  }

.seed-icon {
    color: #7FB174;
    -webkit-animation: seedling 3s; /* Safari 4+ */
    -moz-animation:    seedling 3s; /* Fx 5+ */
    -o-animation:      seedling 3s; /* Opera 12+ */
    animation:         seedling 3s; /* IE 10+, Fx 29+ */
}

.about-photo {
    border: none;
    border-radius: 50%;
    width: 350px;
    height: 400px;
}

.footer-icon {
    color: #9BCFB8;
}

/* Results Container */
.container_large > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: black;
    border: 2px solid black;
}

.container_small > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: black;
    border: 2px solid black;
}

.container_large {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template: repeat(1, 200px) / repeat(2, 2fr);
    color: black;
}

.container_small {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template: repeat(1, 200px) / repeat(4, 1fr);
    color: black;
}



